
img {
    float: left;
    height: 25px;
    width: 25px;
    padding-right: 5px;
}

body {
    background-color: gainsboro;
    font-family: Arial, sans-serif;
    margin-left: 0;
    width: 100%;
}

h2 {
    background-color: lightskyblue;
    padding: 3px;
}

dt, dd {
    padding-left: 50px;
}


a:link {
    color: blue;
}

a:hover {
    color: hotpink;
}

a:active {
    color: #AA336A;
}

a:visited {
    color: darkblue;
}

#navbar {
    background-color: lightskyblue;
    text-align: center;
    line-height: 50px;
    overflow: hidden;
    position: fixed;
    top: 0;
    margin-top: 0;
}

#navbar li, nav{
    display: inline;
    padding-right: 15px;
}

#notepad-image {
    padding-top: 3px;
    padding-left: 2px;
}

#hat-image {
    padding-top: 8.5px;
    padding-left: 2px;
}

#www-image {
    padding-top: 7px;
    padding-left: 2px;
}

#social-image {
    padding-top: 7.5px;
    padding-left: 2px;
}

#arrow-image {
    margin-top: -2.5px;
}

#top {
    padding-top: 50px;
}
